  <div class="container">
    <div class = "quick-navigation button-group">
      <%= image_tag 'section-button.png', width:'104px', height:'30px', id:'section-button' %>
      <%= image_tag 'home-button.png', width:'75px', height:'30px', id:'home-button' %>
      <%= image_tag 'search-button.png', width:'85px', height:'30px', id:'search-button' %>
    </div>  
    
    <div class="branding">
        <a href = "https://www.nytimes.com/">
        <%= image_tag 'branding.png', width:'185px', height:'26px', id:'branding-pic' %>
        </a>
    </div>

    <div class= "user-tool button-group">
      <button class= "btn btn-default">
        <a href="https://www.nytimes.com/subscriptions/inyt/lp8U87X.html?campaignId=6X87Y"  style="height: 30px;" >SUBSCRIBE NOW</a>
      </button>
            <button class= "btn btn-default">
        <a href="#"  style="height: 30px;" >LOG IN</a>
      </button>
      <button class="btn user-tool">
        <%= image_tag 'setting-button.png', width:'30px', height:'30px', id:'setting-button'%> 
      </button>
    </div>
  </div>